{%- import "utils.jinja" as utils %}
{%- from "schema.jinja" import render_schema %}

{%- if op_item.oneOf %}
<h4>Possible messages</h4>
{%- else %}
<h4>Message</h4>
{%- endif %}

{%- for msg in op_item.messages %}
<div class="message">
  {%- if msg.title or msg.name %}
  <span class="title">{{ msg.title or msg.name }}</span>
  {%- endif %}
  {{ utils.render_summary(msg) }}
  {{ utils.render_description(msg) }}
  {{ utils.render_externalDocs(msg) }}
  <span class="contenttype">{{ msg.contentType or spec.defaultContentType }}</span>
  {%- if msg.has_visible_headers %}
  <h5>Headers</h5>
  {{ render_schema(msg.headers, None) }}
  {%- endif %}
  {%- if msg.is_schema %}
  {{ render_schema(msg.payload, msg.examples|first) }}
  {% else %}
  <pre>{{ msg.payload }}</pre>
  {%- endif %}
</div>
{%- endfor %}
