{%- import "utils.jinja" as utils %}

{%- macro render_scopes(schemes) %}
{%- if schemes %}
<div class="security">
  <h4>Required scopes</h4>
  <ul>
  {%- for name, summary in schemes.items() %}
    <li><span class="scope_name">{{ name }}</span>{{ summary }}</li>
  {%- endfor %}
  </ul>
</div>
{%- endif %}
{%- endmacro -%}

<div class="endpoints">
{% for endpoint_name, endpoint_item in spec.endpoints.items() %}
  <section class="endpoint">
    {%- if endpoint_item.summary or endpoint_item.description %}
    <h2>{{ endpoint_name }}</h2>
    {{ utils.render_summary(endpoint_item) }}
    {{ utils.render_description(endpoint_item) }}
    {%- endif %}
    {% for op, op_item in endpoint_item.operations.items() %}
      <a id="{{ op }}_{{ endpoint_name|slugify }}"></a>
      {%- if spec.type == "openapi" %}
      <section class="operation{% if op_item.deprecated %} deprecated{% endif %}">
      {%- else %}
      <section class="operation">
      {%- endif %}
        <div class="operation_name_wrapper">
          <span class="op op_{{ op }}">{{ op }}</span>
          <span class="endpoint_name">{{ endpoint_name }}</span>
          {{ utils.render_summary(op_item) }}
        </div>
        <div class="operation_content_wrapper">
        {{ utils.render_description(op_item) }}
        {{ utils.render_externalDocs(op_item) }}
        {{ render_scopes(op_item.oauth_scopes(spec.components.securitySchemes)) }}
        {%- if spec.type == "openapi" %}
          {%- include 'path.html.jinja' %}
        {%- else %}
          {%- include 'channel.html.jinja' %}
        {%- endif %}
        </div>
      </section>
    {% endfor %}
  </section>
{% endfor %}
</div>
