<!doctype html>
<html lang="en">
  <head>
    <title>{{ spec.info.title }} {{ spec.info.version }} documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="apigen {{ generator_version }}">
    <meta name="theme" content="basic">
    <meta name="dcterms.created" content="{{ date_created }}">
    {%- include "apigen_standalone_styles.html" %}
  </head>
  <body>
    {%- include 'svg_definitions.html.jinja' %}
    {%- include 'main.html.jinja' %}
  </body>
</html>
