{%- import "utils.jinja" as utils %}
<hgroup>
  <h1 class="title">{{ spec.info.title }}</h1>
  <small><pre class="version">{{ spec.info.version }}</pre></small>
</hgroup>
{%- if spec.info.description %}
<div class="description">
  {{ spec.info.description_md }}
</div>
{%- endif %}
{%- if spec.info.termsOfService %}
<div class="terms_of_service">
  <a href="{{ spec.info.termsOfService }}">Terms of Service</a>
</div>
{%- endif %}
{%- if spec.info.contact %}
<div class="contact">
  {%- if spec.info.contact.url %}
  <div class="contact_url">
    <a href="{{ spec.info.contact.url }}">{{ spec.info.contact.name }} - Website</a>
  </div>
  {%- endif %}
  {%- if spec.info.contact.email %}
  <div class="contact_email">
    <a href="mailto:{{ spec.info.contact.email }}">Email to {{ spec.info.contact.name }}</a>
  </div>
  {%- endif %}
</div>
{%- endif %}
{%- if spec.info.license %}
<div class="license">
  <a href="{{ spec.info.license.url }}">{{ spec.info.license.name }}</a>
</div>
{%- endif %}
{{ utils.render_externalDocs(spec) }}
