<div class="content-wrapper">
  <nav>
    {%- include 'navbar.html.jinja' %}
  </nav>
  <main class="markdown-body">
    <div class="info">
      {%- include 'info.html.jinja' %}
    </div>
    {%- if spec.servers %}
    <div class="servers">
      {%- include 'servers.html.jinja' %}
    </div>
    {%- endif %}
    <hr />
    {%- include 'endpoints.html.jinja' %}
    {%- if spec.components.schemas %}
    <div class="schemas">
      {%- include 'schema_components.html.jinja' %}
    </div>
    {%- endif %}
  </main>
</div>
