{%- if spec.components.schemas %}
<h1>Endpoints</h1>
{%- endif %}
{%- if spec.tags %}
{%- for tag in spec.tags %}
<div class="tag">
  <h2>{{ tag.name }}</h2>
  {%- if tag.description %}
  <div class="description">
    {{ tag.description_md }}
  </div>
  {%- endif %}
  <ul>
  {%- for url, endpoint in spec.endpoints.items() %}
    {%- for op, data in endpoint.operations.items() %}
      {%- if tag.name in data.tags %}
    <li>
      <a href="#{{ op }}_{{ url|slugify }}" class="op_link">
        <span class="op op_{{ op }}">{{ op }}</span> {{ url }}
      </a>
    </li>
      {%- endif %}
    {%- endfor %}
  {%- endfor %}
  </ul>
</div>
{%- endfor %}
{%- else %}
<div class="tag">
  <ul>
  {%- for url, endpoint in spec.endpoints.items() %}
    {%- for op, data in endpoint.operations.items() %}
    <li>
      <a href="#{{ op }}_{{ url|slugify }}" class="op_link">
        <span class="op op_{{ op }}">{{ op }}</span> {{ url }}
      </a>
    </li>
    {%- endfor %}
  {%- endfor %}
  </ul>
</div>
{%- endif %}
{%- if spec.components.schemas %}
<h1>Schemas</h1>
<ul class="component_schema_links">
{%- for name in spec.components.schemas.keys() %}
  <li>
    <a href="#schema_{{ name|slugify }}" class="schema_link">{{ name }}</a>
  </li>
{%- endfor %}
</ul>
{%- endif %}
