{%- import "utils.jinja" as utils %}
{%- from "schema.jinja" import render_schema %}

{%- macro render_content(content_dict) %}
<div class="content-by-mediatype">
  {% set selector_id = make_id() %}
  <span>Mediatype:</span>
  {%- if content_dict|length > 1 %}
  <select data-target="{{ selector_id }}" class="mediatype_selection">
    {%- for mediatype in content_dict.keys() %}
    <option value="{{ mediatype }}">{{ mediatype }}</option>
    {%- endfor %}
  </select>
  {%- else %}
  <div class="mediatype">{{ content_dict.keys()|first }}</div>
  {%- endif %}
  <div class="selectable">
  {%- for mediatype, content in content_dict.items() %}
    <div data-id="{{ selector_id }}" data-value="{{ mediatype }}">
    {{ render_schema(content.schema_, content.example or content.examples) }}
    </div>
  {%- endfor %}
  </div>
</div>
{%- endmacro %}

{%- macro render_parameters(parameters, shows_in) %}
<table class="request_parameters">
  <thead>
    <tr>
      <th class="name">Name</th>
      {% if shows_in %}<th class="location">in</th>{% endif %}
      <th class="description">Description</th>
    </tr>
  </thead>
  <tbody>
    {%- for param in parameters %}
    <tr>
      <td class="name{% if param.deprecated %} deprecated{% endif %}{% if param.required %} required{% endif %}">{{ param.name }}</td>
      {%- if shows_in %}
      <td class="location">{{ param.in_.value }}</td>
      {%- endif %}
      <td class="schema">
        {{ utils.render_description(param) }}
        {%- if param.content %}
          {% set single_content = param.content.values()|first %}
          {{ render_schema(single_content.schema_, single_content.example or single_content.examples or param.example or param.examples) }}
        {%- else %}
          {{ render_schema(param.schema_, param.example or param.examples) }}
        {% endif %}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endmacro %}

{%- if endpoint_item.parameters or op_item.parameters %}
<div class="parameters">
  <h4>Parameters</h4>
  {{ render_parameters(endpoint_item.parameters + op_item.parameters, True) }}
</div>
{%- endif %}
{% if op_item.requestBody %}
<div class="request-body-wrapper">
  <h4{% if op_item.requestBody.required %} class="required"{% endif %}>Request body</h4>
  {{ utils.render_description(op_item.requestBody) }}
  {{ render_content(op_item.requestBody.content) }}
</div>
{% endif %}
<div class="responses-wrapper">
  <h4>Responses</h4>
  <table class="responses">
    <thead>
      <tr>
        <th class="statuscode">Code</th>
        <th class="description">Description</th>
      </tr>
    </thead>
    <tbody>
      {%- for statuscode, response_obj in op_item.responses.items() %}
      <tr>
        <td class="statuscode">{{ statuscode }}</td>
        <td class="description">
          {{ utils.render_description(response_obj) }}
          {%- if response_obj.headers %}
          <h5>Headers</h5>
          {{ render_parameters(response_obj.headers.__root__.values(), False) }}
          {%- endif %}
          {%- if response_obj.content %}
            {{ render_content(response_obj.content) }}
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
