{%- import "utils.jinja" as utils %}
{%- from "schema.jinja" import render_schema %}

<section class="schema_definitions">
  <h2>Schemas</h2>
{% for name, schema in spec.components.schemas.items() %}
  <a id="schema_{{ name|slugify }}"></a>
  <div class="schema_definition">
    <h3>{{ name }}</h3>
    <div class="schema_description">
    {{ render_schema(schema, None) }}
    </div>
  </div>
{% endfor %}
</section>
