{%- import "utils.jinja" as utils %}

{%- macro render_primitive_schema(schema) %}
<div class="type">
  <span class="type">{{ schema.type }}</span>
  {%- if schema.format %}<span class="format">({{ schema.format.value or schema.format }})</span>{% endif %}
  {%- if schema.enum %}
  <ul class="enum">
  {%- for val in schema.enum %}
    <li>{{ val }}</li>
  {%- endfor %}
  </ul>
  {%- endif %}
</div>
{% endmacro %}

{%- macro render_array_schema(schema) %}
<div class="array_schema">
  <button class="expand">{{ utils.render_svg("expand") }}</button>
  <span class="type">array</span>
  <div class="array_items">
    {{ render_schema(schema.items, None, False) }}
  </div>
</div>
{% endmacro %}

{%- macro render_object_schema(schema) %}
<div class="object_schema">
  <button class="expand">{{ utils.render_svg("expand") }}</button>
  <span class="type">object</span>
  <div class="object_properties">
  {%- for prop_name, prop_item in schema.properties.items() %}
    <div class="object_property">
      <div class="property_name{% if prop_name in schema.required %} required{% endif %}">{{ prop_name }}</div>
      {{ render_schema(prop_item, None, False) }}
    </div>
  {%- endfor %}
  {%- if schema.additionalProperties %}
    <span class="hint">Additional properties allowed</span>
  {%- endif %}
  </div>
</div>
{% endmacro %}

{%- macro render_examples(data) %}
<table>
  <thead>
    <tr>
      <th>Example</th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
  {% for name, example in data.items() %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ utils.render_summary(example) }} {{ utils.render_description(example) }}</td>
      <td><pre>{{ example.value }}</pre></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{%- macro render_schema(schema, parent_example, top=True) %}
  {% if schema.type == "combinator" and schema.combinator != "allOf" %}
  <div class="schema_combination">
    <span>{{ schema.combinator }}:</span>
    {% set selector_id = make_id() %}
    {% if not schema.not_ %}
    <select data-target="{{ selector_id }}">
      {% for elem in schema.children %}
      <option value="{{ loop.index }}">{{ elem.title or "Element " + loop.index|string }}</option>
      {% endfor %}
    </select>
    {% endif %}
    {% for elem in schema.children %}
    <div class="element" data-id="{{ selector_id }}" data-value="{{ loop.index }}">
      {{ render_schema(elem, None) }}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="schema-container">
    {%- if schema.referenceName %}
      <a href="#schema_{{ schema.referenceName|slugify }}">
        {{ schema.title or schema.referenceName or "unnamed schema" }}
      </a>
    {%- endif %}
    {% if schema.type == "combinator" %}
      {% set schema = schema.merged %}
    {% endif %}
    {{ utils.render_description(schema) }}
    {{ utils.render_externalDocs(schema) }}
    {%- if schema.type == "object" or schema.type == "array" %}
      {%- if top %}
        {% set selector_id = make_id() %}
        <div>
          <div class="content_visualization_select">
            <button data-target="example" data-id="{{ selector_id }}">Example values</button> |
            <button data-target="schema" data-id="{{ selector_id }}">Schema</button>
          </div>
          {%- if not schema.example and parent_example and parent_example is mapping and (parent_example.values()|first).value %}
          <div class="example-wrapper" data-target="example" data-id="{{ selector_id }}">
            {{ render_examples(parent_example) }}
          </div>
          {%- else %}
            <pre class="example-wrapper" data-target="example" data-id="{{ selector_id }}">{{ schema.example or schema.render_example() }}</pre>
          {%- endif %}
          <div class="schema-wrapper" data-target="schema" data-id="{{ selector_id }}">
      {%- endif %}
      {%- if schema.type == "object" %}
      {{ render_object_schema(schema) }}
      {%- else %}
      {{ render_array_schema(schema) }}
      {%- endif %}
      {%- if top %}
          </div>
        </div>
      {%- endif %}
    {%- else %}
      {{ render_primitive_schema(schema) }}
      {%- if top %}
        {%- if not schema.example and parent_example and parent_example is mapping and (parent_example.values()|first).value %}
          {{ render_examples(parent_example) }}
        {%- else %}
          <pre class="example-wrapper">{{ schema.example or schema.render_example() }}</pre>
        {%- endif %}
      {%- endif %}
    {%- endif %}
  </div>
  {%- endif %}
{%- endmacro %}
