<ul>
  {%- if spec.type == "openapi" %}
  {%- for server in spec.servers %}
  <li>
  {%- if server.description %}
    <span class="name">{{ server.description_md[3:-4] }}</span>:
  {%- endif %} <span class="url">{{ server.url }}</span>
  </li>
  {%- endfor %}
  {%- else %}
  {%- for name, server in spec.servers.items() %}
  <li>
    <span class="name">{{ name }}</span>:
    <span class="url">{{ server.url }}</span>
    <span class="protocol">({{ server.protocol }})</span>
  </li>
  {%- endfor %}
  {%- endif %}
</ul>
