{%- macro render_description(elem) %}
{%- if elem.description %}
<div class="description">
  {{ elem.description_md }}
</div>
{%- endif %}
{%- endmacro %}

{%- macro render_summary(elem) %}
{%- if elem.summary %}
<span class="summary">{{ elem.summary }}</span>
{%- endif %}
{%- endmacro %}

{%- macro render_externalDocs(elem) %}
{%- if elem.externalDocs %}
<div class="externalDocs">
  <a href="{{ elem.externalDocs.url }}">
    {{- elem.externalDocs.description or "External Documentation" -}}
  </a>
</div>
{%- endif %}
{%- endmacro %}

{%- macro render_svg(name) %}
<svg width="20" height="20" aria-hidden="true" focusable="false">
  <use xlink:href="#{{ name }}"></use>
</svg>
{%- endmacro %}
