{% set selector_id = make_id() %}
<div>
  <div class="content_visualization_select">
    <button data-target="example" data-id="{{ selector_id }}">Example values</button> |
    <button data-target="schema" data-id="{{ selector_id }}">Schema</button>
  </div>
  <pre class="example-wrapper" data-target="example" data-id="{{ selector_id }}">
    {{ schema.example or parent_example or schema.render_example() }}
  </pre>
  <div class="schema-wrapper" data-target="schema" data-id="{{ selector_id }}">
    <div class="object_schema">
      <button class="expand">v</button>
      <span class="type">object</span>
      <div class="object_properties">
        {%- for prop in schema.properties %}
        <div class="object_property">
          <div class="property_name{% if prop.name in schema.required %} required{% endif %}">{{ prop.name }}</div>
          <div class="property_description">
          {%- if prop.description %}
            <div class="description">{{ prop.description_md }}</div>
          {%- endif %}
            <div class="type">
              <span class="type">{{ prop.type }}</span>
              format
              enum values
            </div>
          </div>
        </div>
        {%- endfor %}
        {%- if schema.additionalProperties %}
          <span class="hint">Additional properties allowed</span>
        {%- endif %}
      </div>
    </div>
  </div>
</div>
