<main class="markdown-body">
 <div class="info">
  <hgroup>
   <h1 class="title">Test API</h1>
   <small><pre class="version">1.2.3</pre></small>
  </hgroup>
 </div>
 <div class="servers">
  <ul>
   <li>
    <span class="name">Production</span>:
    <span class="url">https://prod.test</span>
   </li>
  </ul>
 </div>
 <hr/>
 <div class="endpoints">
  <section class="endpoint">
   <a id="get_trigger_event">
   </a>
   <section class="operation deprecated">
    <div class="operation_name_wrapper">
     <span class="op op_get">get</span>
     <span class="endpoint_name">/trigger_event</span>
     <span class="summary">Summary of the operation</span>
    </div>
    <div class="operation_content_wrapper">
     <div class="description">
      <p>The <em>operation</em> is the thing</p>
     </div>
     <div class="externalDocs">
      <a href="https://elsewhere.com">External Documentation</a>
     </div>
     <div class="security">
      <h4>Required scopes</h4>
      <ul>
       <li>
        <span class="scope_name">write</span>
        The permission to write
       </li>
      </ul>
     </div>
     <div class="responses-wrapper">
      <h4>Responses</h4>
      <table class="responses">
       <thead>
        <tr>
         <th class="statuscode">Code</th>
         <th class="description">Description</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="statuscode">200</td>
         <td class="description">
          <div class="description">
            <p>Success</p>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </section>
  </section>
  <section class="endpoint">
   <h2>/trigger_event/{path_param}</h2>
   <span class="summary">Summary of the path</span>
   <div class="description">
    <p>The <em>path</em> is the thing</p>
   </div>
   <a id="post_trigger_eventpath_param"></a>
   <section class="operation">
    <div class="operation_name_wrapper">
     <span class="op op_post">post</span>
     <span class="endpoint_name">/trigger_event/{path_param}</span>
    </div>
    <div class="operation_content_wrapper">
     <div class="parameters">
      <h4>Parameters</h4>
      <table class="request_parameters">
       <thead>
        <tr>
         <th class="name">Name</th>
         <th class="location">in</th>
         <th class="description">Description</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="name">header_param</td>
         <td class="location">header</td>
         <td class="schema">
          <div class="schema-container">
           <div class="description">
            <p>This is <em>important</em></p>
           </div>
           <div class="type">
            <span class="type">integer</span>
           </div>
           <pre class="example-wrapper">3</pre>
          </div>
         </td>
        </tr>
        <tr>
         <td class="name">cookie_param</td>
         <td class="location">cookie</td>
         <td class="schema">
          <div class="schema-container">
           <div class="type">
            <span class="type">string</span>
            <span class="format">(base64)</span>
           </div>
           <pre class="example-wrapper">"TG9yZW0gaXBzdW0="</pre>
          </div>
         </td>
        </tr>
        <tr>
         <td class="name">query_param</td>
         <td class="location">query</td>
         <td class="schema">
          <div class="schema-container">
           <div class="type">
            <span class="type">boolean</span>
           </div>
           <pre class="example-wrapper">true</pre>
          </div>
         </td>
        </tr>
        <tr>
         <td class="name required">path_param</td>
         <td class="location">path</td>
         <td class="schema">
          <div class="schema-container">
           <div class="type">
            <span class="type">string</span>
            <ul class="enum">
             <li>active</li>
             <li>inactive</li>
            </ul>
           </div>
           <pre class="example-wrapper">"active"</pre>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <div class="request-body-wrapper">
      <h4 class="required">Request body</h4>
      <div class="description">
       <p>Send yo dada</p>
      </div>
      <div class="content-by-mediatype">
       <span>Mediatype:</span>
       <div class="mediatype">application/json</div>
       <div class="selectable">
        <div data-id="0" data-value="application/json">
         <div class="schema-container">
          <div>
           <div class="content_visualization_select">
            <button data-id="1" data-target="example">Example values</button>
            |
            <button data-id="1" data-target="schema">Schema</button>
           </div>
           <pre class="example-wrapper" data-id="1" data-target="example">{
  "id": 1,
  "data": {
    "color": "blue",
    "shade": 0.5,
    "additionalProperty": "value"
  }
}</pre>
           <div class="schema-wrapper" data-id="1" data-target="schema">
            <div class="object_schema">
             <button class="expand">
              <svg aria-hidden="true" focusable="false" height="20" width="20">
               <use xlink:href="#expand"></use>
              </svg>
             </button>
             <span class="type">object</span>
             <div class="object_properties">
              <div class="object_property">
               <div class="property_name">id</div>
               <div class="schema-container">
                <div class="type">
                 <span class="type">integer</span>
                </div>
               </div>
              </div>
              <div class="object_property">
               <div class="property_name">data</div>
               <div class="schema-container">
                <div class="object_schema">
                 <button class="expand">
                  <svg aria-hidden="true" focusable="false" height="20" width="20">
                   <use xlink:href="#expand"></use>
                  </svg>
                 </button>
                 <span class="type">object</span>
                 <div class="object_properties">
                  <div class="object_property">
                   <div class="property_name required">color</div>
                   <div class="schema-container">
                    <div class="type">
                     <span class="type">string</span>
                     <ul class="enum">
                      <li>blue</li>
                      <li>green</li>
                     </ul>
                    </div>
                   </div>
                  </div>
                  <div class="object_property">
                   <div class="property_name">shade</div>
                   <div class="schema-container">
                    <div class="type">
                     <span class="type">number</span>
                    </div>
                   </div>
                  </div>
                  <span class="hint">Additional properties allowed</span>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="responses-wrapper">
      <h4>Responses</h4>
      <table class="responses">
       <thead>
        <tr>
         <th class="statuscode">Code</th>
         <th class="description">Description</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="statuscode">200</td>
         <td class="description">
          <div class="description">
           <p>Success</p>
          </div>
          <h5>Headers</h5>
          <table class="request_parameters">
           <thead>
            <tr>
             <th class="name">Name</th>
             <th class="description">Description</th>
            </tr>
           </thead>
           <tbody>
            <tr>
             <td class="name">header_param2</td>
             <td class="schema">
              <div class="schema-container">
               <div class="type">
                <span class="type">string</span>
               </div>
               <pre class="example-wrapper">"value"</pre>
              </div>
             </td>
            </tr>
           </tbody>
          </table>
          <div class="content-by-mediatype">
           <span>Mediatype:</span>
           <select class="mediatype_selection" data-target="2">
            <option value="application/json">application/json</option>
            <option value="application/yaml">application/yaml</option>
           </select>
           <div class="selectable">
            <div data-id="2" data-value="application/json">
             <div class="schema-container">
              <div class="type">
               <span class="type">string</span>
               <span class="format">(date-time)</span>
              </div>
              <pre class="example-wrapper">"1969-07-20T09:32:00 EDT"</pre>
             </div>
            </div>
            <div data-id="2" data-value="application/yaml">
             <div class="schema-container">
              <div class="type">
               <span class="type">string</span>
               <span class="format">(password)</span>
              </div>
              <pre class="example-wrapper">"********"</pre>
             </div>
            </div>
           </div>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </section>
  </section>
 </div>
</main>
