<main class="markdown-body">
 <div class="info">
  <hgroup>
   <h1 class="title">Test API</h1>
   <small><pre class="version">1.2.3</pre></small>
  </hgroup>
 </div>
 <div class="servers">
  <ul>
   <li>
    <span class="name">production</span>:
    <span class="url">https://prod.test</span>
    <span class="protocol">(amq)</span>
   </li>
  </ul>
 </div>
 <hr/>
 <div class="endpoints">
  <section class="endpoint">
   <h2>admin</h2>
   <div class="description">
    <p>To be sent <em>only</em> by the admin</p>
   </div>
   <a id="publish_admin"></a>
   <section class="operation">
    <div class="operation_name_wrapper">
     <span class="op op_publish">publish</span>
     <span class="endpoint_name">admin</span>
    </div>
    <div class="operation_content_wrapper">
     <h4>Message</h4>
     <div class="message">
      <span class="contenttype">application/json</span>
      <pre>anything</pre>
     </div>
    </div>
   </section>
  </section>
  <section class="endpoint">
   <a id="subscribe_event"></a>
   <section class="operation">
    <div class="operation_name_wrapper">
     <span class="op op_subscribe">subscribe</span>
     <span class="endpoint_name">event</span>
     <span class="summary">Get your event messages here</span>
    </div>
    <div class="operation_content_wrapper">
     <div class="description">
      <p>Used by <em>anybody</em></p>
     </div>
     <div class="externalDocs">
      <a href="https://elsewhere.com">External Documentation</a>
     </div>
     <h4>Possible messages</h4>
     <div class="message">
      <span class="title">the good one</span>
      <span class="summary">even has a summary</span>
      <div class="description">
       <p>and a <em>description</em></p>
      </div>
      <div class="externalDocs">
       <a href="https://elsewhere.com">External Documentation</a>
      </div>
      <span class="contenttype">application/json</span>
      <h5>Headers</h5>
      <div class="schema-container">
       <div>
        <div class="content_visualization_select">
         <button data-id="0" data-target="example">Example values</button>
         |
         <button data-id="0" data-target="schema">Schema</button>
        </div>
        <pre class="example-wrapper" data-id="0" data-target="example">{
  "id": 1,
  "name": "Bob",
  "additionalProperty": "value"
}</pre>
        <div class="schema-wrapper" data-id="0" data-target="schema">
         <div class="object_schema">
          <button class="expand">
           <svg aria-hidden="true" focusable="false" height="20" width="20">
            <use xlink:href="#expand"></use>
           </svg>
          </button>
          <span class="type">object</span>
          <div class="object_properties">
           <div class="object_property">
            <div class="property_name required">id</div>
            <div class="schema-container">
             <div class="type">
              <span class="type">integer</span>
             </div>
            </div>
           </div>
           <div class="object_property">
            <div class="property_name">name</div>
            <div class="schema-container">
             <div class="type">
              <span class="type">string</span>
             </div>
            </div>
           </div>
           <span class="hint">Additional properties allowed</span>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="schema-container">
       <div>
        <div class="content_visualization_select">
         <button data-id="1" data-target="example">Example values</button>
         |
         <button data-id="1" data-target="schema">Schema</button>
        </div>
        <pre class="example-wrapper" data-id="1" data-target="example">[
  {
    "hair": "blonde",
    "eyes": "#3322ff",
    "additionalProperty": "value"
  }
]</pre>
        <div class="schema-wrapper" data-id="1" data-target="schema">
         <div class="array_schema">
          <button class="expand">
           <svg aria-hidden="true" focusable="false" height="20" width="20">
            <use xlink:href="#expand"></use>
           </svg>
          </button>
          <span class="type">array</span>
          <div class="array_items">
           <div class="schema-container">
            <div class="object_schema">
             <button class="expand">
              <svg aria-hidden="true" focusable="false" height="20" width="20">
               <use xlink:href="#expand"></use>
              </svg>
             </button>
             <span class="type">object</span>
             <div class="object_properties">
              <div class="object_property">
               <div class="property_name">hair</div>
               <div class="schema-container">
                <div class="type">
                 <span class="type">string</span>
                 <ul class="enum">
                  <li>blonde</li>
                  <li>ginger</li>
                  <li>brown</li>
                  <li>black</li>
                 </ul>
                </div>
               </div>
              </div>
              <div class="object_property">
               <div class="property_name">eyes</div>
               <div class="schema-container">
                <div class="type">
                 <span class="type">string</span>
                 <span class="format">(RGB)</span>
                </div>
               </div>
              </div>
              <span class="hint">Additional properties allowed</span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="message">
      <span class="title">fallback</span>
      <span class="contenttype">something</span>
      <pre>123</pre>
     </div>
    </div>
   </section>
  </section>
 </div>
</main>
