<nav>
 <div class="tag">
  <h2>Validation</h2>
  <div class="description">
   <p>to make sure</p>
  </div>
  <ul>
   <li>
    <a class="op_link" href="#post_trigger_event">
     <span class="op op_post">post</span>/trigger_event
    </a>
   </li>
  </ul>
 </div>
</nav>
