<main class="markdown-body">
 <div class="info">
  <hgroup>
   <h1 class="title">Test API</h1>
   <small><pre class="version">1.2.3</pre></small>
  </hgroup>
 </div>
 <hr/>
 <div class="endpoints">
  <section class="endpoint">
   <a id="post_trigger_event"></a>
   <section class="operation">
    <div class="operation_name_wrapper">
     <span class="op op_post">post</span>
     <span class="endpoint_name">/trigger_event</span>
    </div>
    <div class="operation_content_wrapper">
     <div class="responses-wrapper">
      <h4>Responses</h4>
      <table class="responses">
       <thead>
        <tr>
         <th class="statuscode">Code</th>
         <th class="description">Description</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="statuscode">200</td>
         <td class="description">
          <div class="description">
           <p>Success</p>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </section>
  </section>
 </div>
</main>
