<main class="markdown-body">
 <div class="info">
  <hgroup>
   <h1 class="title">Test API</h1>
   <small><pre class="version">1.2.3</pre></small>
  </hgroup>
 </div>
 <hr/>
 <div class="endpoints">
  <section class="endpoint">
   <a id="publish_event"></a>
   <section class="operation">
    <div class="operation_name_wrapper">
     <span class="op op_publish">publish</span>
     <span class="endpoint_name">event</span>
    </div>
    <div class="operation_content_wrapper">
     <h4>Message</h4>
     <div class="message">
      <span class="title">name</span>
      <span class="contenttype">application/json</span>
      <pre>anything</pre>
     </div>
    </div>
   </section>
  </section>
 </div>
</main>
