<!doctype html>
<html lang="en">
  <head>
    <title>{{ spec.info.title }} {{ spec.info.version }} documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="apigen {{ generator_version }}">
    <meta name="dcterms.created" content="{{ date_created }}">
    <link rel="shortcut icon" href="{{ base_url }}resources/fav.ico">
    <link rel="stylesheet" href="{{ base_url }}resources/api.css">
    <script src="{{ base_url }}resources/actionscripts.js"></script>
  </head>
  <body>
    {%- include 'svg_definitions.html.jinja' %}
    <header>
      <div class="main-bar">
        <a href="{{ base_url }}index.html">
          <img id="logo" src="{{ base_url }}resources/logo.png" />
        </a>
      </div>
    </header>
    {%- include 'main.html.jinja' %}
  </body>
</html>
